@{
ViewData["Title"] = "Home";
}

<div class="home-container">
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-item active" style="background-image: url('https://cdn.pixabay.com/photo/2020/02/28/14/53/banner-4887650_960_720.jpg')">
                <div class="overlay"></div>
                <div class="content">
                    <h2>International Women's Day Sale</h2>
                    <p>Celebrate with 20% off on all women's products. Includes Kitchen, Bathroom, and Home & Furniture categories. Sale runs from March 1st to March 8th.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2015/12/06/09/15/maple-1079235_960_720.jpg')">
                <div class="overlay"></div>
                <div class="content">
                    <h2>October Fall Sale</h2>
                    <p>Autumn savings up to 30% off on seasonal items. Featured categories: Home & Furniture and Tools & Equipment. Sale runs from October 1st to October 31st.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2020/11/23/14/31/black-friday-5769903_960_720.png')">
                <div class="overlay"></div>
                <div class="content">
                    <h2>Black Friday Sale</h2>
                    <p>Massive discounts up to 50% off storewide. All categories included. Don't miss out on our biggest sale of the year! Sale runs from November 24th to November 27th.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control prev">&lt;</button>
        <button class="carousel-control next">&gt;</button>
    </div>
</div>