<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DIYMann</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/College_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="top-nav">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="company-name">DIYMann</a>
                <form asp-controller="Product" asp-action="Index" method="get" class="search-container">
                    <input type="text" id="search-bar" name="searchQuery" placeholder="Search product" />
                    <button type="submit" id="search-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#5f6368">
                            <path d="M765-144 526-383q-30 22-65.79 34.5-35.79 12.5-76.18 12.5Q284-336 214-406t-70-170q0-100 70-170t170-70q100 0 170 70t70 170.03q0 40.39-12.5 76.18Q599-464 577-434l239 239-51 51ZM384-408q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Z" />
                        </svg>
                    </button>
                </form>
                <div class="utility-nav">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="Basket">Basket</a>
                </div>
            </div>
            <div class="category-nav">
                <a asp-controller="Product" asp-action="Index">All</a>
                <a asp-controller="Product" asp-action="Index" asp-route-categoryFilter="Kitchen">Kitchen</a>
                <a asp-controller="Product" asp-action="Index" asp-route-categoryFilter="Bathroom">Bathroom</a>
                <a asp-controller="Product" asp-action="Index" asp-route-categoryFilter="Home & Furniture">Home & Furniture</a>
                <a asp-controller="Product" asp-action="Index" asp-route-categoryFilter="Tools & Equipment">Tools & Equipment</a>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <div>
            &copy; 2024 - DIYMann - All rights reserved
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>